{% extends 'index.html' %}
{% load static %}

    {% block title %}
    <title>E Cart | Update Profile - Online Shop Website </title>
    {% endblock title %}

    {% block body %}
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/">Home</a>
                    <a class="breadcrumb-item text-dark" href="/cart/">Cart</a>
                    <span class="breadcrumb-item active">Your Profile</span>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <p class="text-center w-75 m-auto p-2 my-bgcolors">Add Address where Order is to be placed</p>
        <div class="w-75 m-auto px-5 border-info rounded bg-light">
            <form action="/update-address/" method="post" class="mt-4">
                {% csrf_token %}
                <div class="row mb-2">
                    <div class="col-md-12 pt-4">
                        <label class="mb-0 text-dark">Address Line 1 *</label>
                        <input type="text" required name="addressline1" placeholder="Address Line 1" class="form-control" >
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                        <label class="mb-0 text-dark">Address Line 2</label>
                        <input type="text" name="addressline2" placeholder="Address Line 2" class="form-control">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                        <label class="mb-0 text-dark">Address Line 3</label>
                        <input type="text" name="addressline3" placeholder="Address Line 3" class="form-control">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                        <label class="mb-0 text-dark">Pin *</label>
                        <input type="text" required name="pin" placeholder="pin" class="form-control">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                        <label class="mb-0 text-dark">City *</label>
                        <input type="text" required name="city" placeholder="City" class="form-control">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                        <label class="mb-0 text-dark">state *</label>
                        <input type="text" required name="state" placeholder="State" class="form-control">
                    </div>
                </div>
                <div class="pb-4 ">
                    <button type="submit" class="w-100 btn btn-primary" >Add Address</button>
                </div>
                
            </form>
        </div>
    </div>

    {% endblock %}