{% extends 'index.html' %}
{% load static %}
{% block title %}
    <title>E Cart | Shopping Cart - Online Shop Website </title>
{% endblock  %}
{% block body %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/">Home</a>
                    <a class="breadcrumb-item text-dark" href="/shop/All/All/All">Shop</a>
                    <span class="breadcrumb-item active">Shopping Cart</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Cart Start -->
    <div class="container">
        {% if request.session.count %}
        <div class="row">
            <div class="col-md-8 mb-5">
                <h5 class="section-title position-relative text-center text-uppercase mb-3"><span class="bg-secondary pr-3">Cart Items</span></h5>
                {% for key,value in cart.items %}
                <div class="cart-item border border-info rounded bg-light py-3 mb-3 d-flex flex-row position-relative">
                    <div class="mr-3">
                        <a href="/single-product/{{value.id}}"><img class="p-2" src="{{value.pic}}" alt="" style="height: 130px;"></a>
                    </div>
                    <div class="ml-1">
                        <div><p class="small font-weight-bold text-dark mb-1">{{value.brand}}</p></div>
                        <div><p class="small text-dark mb-1">{{value.name}}</p></div>
                        <div class="d-flex flex-row">
                            <div class="d-flex flex-row mt-2">
                                <p class="small text-dark font-weight-bold mb-1">Size : {{value.size}}</p>
                                <p class="small text-dark font-weight-bold mb-1 ml-3">Qty :</p>
                                <a href="/update-cart/{{key}}/dec/" class="btn-xs ml-1 pb-1 small" >
                                    <i class="fa-solid fa-caret-left"></i>
                                </a>
                                <p class="small text-dark font-weight-bold mb-1 ml-1">{{value.qty}}</p>
                                <a href="/update-cart/{{key}}/inc/" class="btn-xs  ml-1 pb-1 small">
                                    <i class="fa-solid fa-caret-right"></i>
                                </a>
                            </div>
                        </div>
                        <div><p class="small text-dark font-weight-bold mb-1 mt-2">&#8377;{{value.total}}</p></div>
            
                        <div><a href="/remove-cart-item/{{value.id}}/" class="cart-remove"><i class="fa-sharp fa-solid fa-xmark"></i></a></div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="col-md-4">
                <h5 class="section-title position-relative text-center text-uppercase mb-3"><span class="bg-secondary pr-3">Cart Summary</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom pb-2">
                        <div class="d-flex justify-content-between mb-3">
                            <p>Subtotal</p>
                            <p>&#8377;{{request.session.subtotal}}</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="font-weight-medium">Shipping</p>
                            <p class="font-weight-medium">&#8377;{{request.session.shipping}}</p>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h6>Total</h6>
                            <h6>&#8377;{{request.session.total}}</h6>
                        </div>
                        <a href="/checkout/" class="btn btn-block btn-sm btn-primary font-weight-bold my-3 py-2">Proceed To Checkout</a href="/checkout/">
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="text-center">
            <p>No Items in cart</p>
            <a href="/shop/All/All/All/" class="btn btn-primary px-3">Shop Now</a>
        </div>
        {% endif %}
    </div>
    <!-- Cart End -->
{% endblock body %}

